@charset "UTF-8";
body {
    background-color: #F9F7EA;
}

.intro {
    width: 1440px;
    height: 800px;
    /*background-color: #f0fff3;*/
}
/***** ANIMATION BUBBLES ******/
.animation-area {
    position: absolute;
    z-index:1;
    display: inline-block;
    bottom: -300px;
    animation-duration: 22s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: animate, rotate; 
    opacity: 0;
}
.animation-areaTwo {
    position: absolute;
    z-index:1;
    display: inline-block;
    bottom: -300px;
    animation-duration: 22s;
    animation-timing-function: linear;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: animate, rotateTwo; 
    opacity: 0;
}
.animation-areaFive {
    position: absolute;
    z-index:1;
    display: inline-block;
    bottom: -300px;
    animation-duration: 22s;
    animation-timing-function: linear;
    animation-delay: 6s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: animate, rotateFive; 
    opacity: 0;
}
img {
    padding: 50px;
}
.animation-area #two {
    bottom: -500px;
    animation-delay: 5s;
}
.animation-areaThree {
    position: absolute;
    z-index:1;
    display: inline-block;
    bottom: -300px;
    animation-duration: 22s;
    animation-timing-function: linear;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: animate, rotateThree; 
    opacity: 0;
}
.animation-areaFour {
    position: absolute;
    opacity: 60%;
    animation-duration: 22s;
    animation-timing-function: linear;
    animation-delay: 15s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: animate, rotateTwo; 
    opacity: 0;
}

.animation-areaEight {
    position: absolute;
    opacity: 60%;
    animation-duration: 22s;
    animation-timing-function: linear;
    animation-delay: 18s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: animate, rotateEight; 
    opacity: 0;
}
@keyframes animate {
    from {bottom: -350px; opacity: .6}
    to {bottom:800px; opacity: .6}
}
@keyframes rotate {
    from {transform: rotate(10deg); opacity: .6}
    to {transform: rotate(-120deg); opacity: .6}
}
@keyframes rotateTwo {
    from {transform: rotate(0deg); opacity: .6}
    to {transform: rotate(-40deg); opacity: .6}
}
@keyframes rotateFive {
    from {transform: rotate(0deg); opacity: .6}
    to {transform: rotate(50deg); opacity: .6}
}
@keyframes rotateThree {
    from {transform: rotate(-160deg); opacity: .6}
    to {transform: rotate(-120deg); opacity: .6}
}
@keyframes rotateEight {
    from {transform: rotate(-110deg); opacity: .6}
    to {transform: rotate(-160deg); opacity: .6}
}




/****** INTRO TEXT ******/
.hello {
    /*color: #BCBEC0;*/
    color: #3B3A37;
    font-family: 'Playfair Display', serif;
    font-size: 90px;
    /*text-shadow: 4px 4px 5px #E0DFD3;*/
    text-shadow: 4px 4px 5px #F9F7EA; 
    position: relative;
    top: 400px;
    left: 100px;
    animation: mymove1 2s ease-out forwards;
    animation-iteration-count: 1;
    z-index: 5;
}

.entry-text {
    color: #3B3A37;
    opacity: 0;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 400px;
    left: 100px;
    font-size: 60px;
    text-shadow: 4px 4px 5px #F9F7EA; 
    animation: mymove2 2s ease-out forwards;
    animation-iteration-count: 1; 
    animation-delay: 1s; 
    z-index: 5;
}

.passion {
    color: #7A7973;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    text-shadow: 4px 4px 5px #F9F7EA; 
    z-index: 5;
    font-size: 30px;
     top: 380px;
    left: 100px; 
    opacity: 0;
    animation: mymove3 .3s ease-out forwards;
    animation-iteration-count: 1; 
    animation-delay: 2.5s; 
}

.vd {
    color: #7A7973;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    text-shadow: 4px 4px 5px #F9F7EA; 
    z-index: 5;
    font-size: 30px;
    top: 380px;
    padding: 5px;
    left: 98px;
    opacity: 0;
    animation: dissapear 3s;
    animation-iteration-count: infinte;
    /*animation: grow .5s ease-out forwards;
    animation-iteration-count: 1; */
    animation-delay: 3s; 
}
.UX {
    color: #7A7973;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    text-shadow: 4px 4px 5px #F9F7EA; 
    z-index: 5;
    font-size: 30px;
    top: 380px;
    padding: 5px;
    left: 98px;
    opacity: 0;
    animation: dissapear 3s;
    animation-iteration-count: infinte;
    /*animation: grow .5s ease-out forwards;
    animation-iteration-count: 1; */
    animation-delay: 6s; 
}

@keyframes dissapear {
    from {opacity: 0;}
    to {opacity: 1;}
} 
@keyframes mymove1
{ 
    from {top:370px; opacity: 0;}
    to {top:400px; opacity: 1;}
}

@keyframes mymove2
{ 
    from {top:370px; opacity: 0;}
    to {top:400px; opacity: 1;}
}
@keyframes mymove3 {
    from {opacity: 0;}
    to {opacity: 1;}   
}

/**** PORTFOLIO ******/
.portfolio {
    display: grid;
    padding-top: 75px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    z-index: 3;
    background-color: #F9F7EA;

}
.arrow { 
    z-index: 6;
    position: absolute; 
    left: 45%;
    top: 85%;
    opacity: 1;
}

.container {
    max-width: auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
    opacity: 1;
    background-color: #F9F7EA;
}

img.container{
    box-shadow: 0px 1px 4px grey;
}

/**** NAV BAR *****/
   
.navbar {
    height: 10%;
    width: 100%;
    background-color: #fdfcf8;
    position: fixed;
    text-decoration: none;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    float: left;
    box-shadow: 0px 1px 4px grey;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;

}
.name {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 30px;
    right: -30px; 
    font-size: 23px;
    color: #3B3A37;
    display: inline-block;
    font-weight: 200px;
    padding-bottom: 3px;
    padding-left: 10px;
}
.work {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 30px;
    right: 175px; 
    font-size: 23px;
    color: #3B3A37;
    display: inline-block;
    font-weight: 200px;
    padding-bottom: 3px;
    padding-left: 10px;
  }
.about {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 30px;
    right: 30px; 
    font-size: 23px;
    color: #3B3A37;
    display: inline-block;
    font-weight: 200px;
    padding-bottom: 3px;
    padding-left: 10px;
}

/*.name:hover {
    color: #93ca91;
    transition-duration: 1s;
  }*/

a:link {
    text-decoration: none;
    text-align: right;
  }
a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    right: -4px;
    /*background-color: #93ca91;*/
    background-color: #c6e3c5;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}
  
  a:hover::before {
    transform: scaleX(1);
  }


/***** ABOUT ME *****/

.about1 {
    font-family: 'Playfair Display', serif;
    color: #3B3A37;
    font-size: 50px;
    position: relative;
    top: 50px;
}
.about2 {
    color: #3B3A37;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    font-size: 20px;
    top: 80px;
}

/******PORT1 *******/
.port1 {
    text-align: center;
    top: 350px;
    font-family: 'Playfair Display', serif;
    color: #3B3A37;
    font-size: 50px;
    position: relative;
}



